<mat-toolbar fxLayout="row" #toolbarId style="height: 2.5em;">

  <div fxFlex="auto">
    <button mat-button [routerLink]="['/home']"><strong>{{title}}</strong></button>
  </div>

</mat-toolbar>

<br />

<mat-toolbar fxLayout="row" #toolbarId style="height: 2.5em;">

  <div fxFlex="auto" style="margin-right: 1em;">
    <mat-checkbox #mapShoutId [checked]="mapShout" (change)="clickShout(mapShoutId.checked)">SHOUT</mat-checkbox>
  </div>

  <div fxFlex="auto" style="margin-right: 1em;">
    <mat-checkbox #mapCompressId [checked]="mapCompress" (change)="clickCompress(mapCompressId.checked)">Compress</mat-checkbox>
  </div>

  <div fxFlex="auto" style="margin-right: 1em;">
    <mat-checkbox #mapLeetId [checked]="mapLeet" (change)="clickLeet(mapLeetId.checked)">1337 Speak</mat-checkbox>
  </div>

</mat-toolbar>

<br />

<!--
    Why isn't this being updated?
    What happened to INTERPOLATION?
-->
<div>{{message}}</div>

<mat-form-field appearance="fill">
  <mat-label>Enter Message</mat-label>
  <input matInput [value]="message" (keyup)="onKeyUp($event)">
</mat-form-field>

<br />
<br />

<mat-form-field appearance="legacy">
  <mat-label>Mapped Message</mat-label>
  <input matInput [value]="mapped" [readonly]="true">
</mat-form-field>

<router-outlet></router-outlet>